@font-face {
  font-family: "ubuntu";
  src: url("../fonts/ubuntu/Ubuntu-BI.ttf");
}
*{
    scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Ubuntu;

  padding: 0;
}
.main-buttons a{
    text-decoration: none;
    color: #030239;
}
.main-buttons button:hover a{
    text-decoration: none;
    color: white;
}
p {
  font-size: 16px;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  font-family: "ubuntu" !important;
}
.main-container {
  /* max-width: 1024px; */
  max-width: 80%;
  margin: 0 auto;
}
.block-header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.block {
  height: 93vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* flex-wrap: wrap; */
  border-radius: 5px;
}
.block2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #030239;
  border-radius: 5px;
}

.block2 .column-left {
  text-align: left;
  display: inline;
  padding: 30px 0;
}
.block2 .column-right {
  color: white;
}
.block2 .column-left p,
.block2 .column-left h3,
.block2 .column-left h4 {
  margin: 0 34px 0 20px;
}
.block2 .column-left h4 {
  display: inline;
}
.column-left {
  /* border: 1px solid red; */
  display: flex;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  /* background-color: #e23e57; */
  background-color: #030239;
  width: 50%;
}
.column-left h1 {
  margin: 0 !important;
  font-family: "ubuntu" !important;
  font-size: 60px;
  font-weight: 1000 !important;
}
.column-right {
  border-radius: 5px;
  /* border: 1px solid red; */
  width: 50%;
}
.column-right img {
  width: 100%;
  height: 93vh;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.main-buttons button {
  padding: 11px 18px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 25px;
  font-size: 14px;

  font-family: "ubuntu";
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  border: 1px solid white;
}
.main-buttons button:hover {
  background-color: #030239;
  color: white;
  transition: all 0.3s ease;
}
.main-buttons button i {
  margin-right: 10px;
}
.info-table {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 15px;
}
.info-table h4 {
  margin: 0 !important;
  width: 170px;
}
.block3 {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
}
.mb {
   
  margin-bottom: 20px;
}
.block3 .column-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22%;
  height: 170px;
}
.block3 .column-right {
    background-color: white;
    width: 73%;
  padding-left: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
}
.block3 .column-left h4 {
  font-weight: 400;
  margin: 0 0 10px 0 !important;
  text-align: center;
}
.block3 .column-left h3 {
  margin: 0 !important;
  text-align: center;
  /* font-weight: 400; */
}

.column-right h3 {
  margin-bottom: 10px !important;
}
.column-right h4 {
  margin-top: 0px !important;
  color: rgb(161, 161, 161);
}
.column-right p {
  margin-top: 0px !important;
  margin-bottom: 8px !important;
}
.block4 {
  height: 93vh;
  
  border-radius: 5px;
}
/* Contact Form */
a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a,
a:hover {
  text-decoration: none !important;
}

.text-black {
  color: #000;
}
 .container{
    padding: 0 !important;
 }

.heading {
  font-size: 2.5rem;
  font-weight: 900;
}
.contctbtn{
    background-color: #030239 !important;
    color: white;
}
.form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  background: none;
}
.form-control:active,
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
}

.col-form-label {
  color: #000;
  font-size: 13px;
}

.btn,
.form-control,
.custom-select {
  height: 45px;
}

.custom-select:active,
.custom-select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
}

.btn {
  border: none;
  border-radius: 0;
  font-size: 12px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.btn.btn-primary {
  background: #030239;
  color: #fff;
  padding: 15px 20px;
}
.btn:hover {
  color: #fff;
}
.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.contact-wrap {
  -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
}
.contact-wrap .col-form-label {
  font-size: 14px;
  color: #b3b3b3;
  margin: 0 0 10px 0;
  display: inline-block;
  padding: 0;
}
.contact-wrap .form,
.contact-wrap .contact-info {
  padding: 40px;
}
.contact-wrap .contact-info {
  color: rgba(255, 255, 255, 0.5);
}
.contact-wrap .contact-info ul li {
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.5);
}
.contact-wrap .contact-info ul li .wrap-icon {
  font-size: 20px;
  color: #fff;
  margin-top: 5px;
}
.contact-wrap .form {
  background: #fff;
}
.contact-wrap .form h3 {
  color: #030239;
  font-size: 20px;
  margin-bottom: 30px;
}
.contact-wrap .contact-info {
  background: #030239;
}
.contact-wrap .contact-info h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px;
}

label.error {
  font-size: 12px;
  color: red;
}

#message {
  resize: vertical;
}

#form-message-warning,
#form-message-success {
  display: none;
}

#form-message-warning {
  color: #b90b0b;
}

#form-message-success {
  color: royalblue;
  font-size: 18px;
  font-weight: bold;
}

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #000;
}
.ms2{
    /* margin-left: 10px !important; */
    margin-right: 15px !important;
}
.rate-display{
    display: none !important;
}
/* Responsive */
@media (min-width:1024px) {
    .form-control{
        width: 300px !important;
    }
    .form-group{
        margin-left: 50px;
        margin-right: 50px;
        
    }
    .form h3{
        margin-left: 50px;
        margin-right: 50px;

    }
    .row .col-md-12{
        padding: 0!important;
    }
}
@media (max-width:1240px) {
    .column-right img {
   
    height: 73vh; 

}
.block {
  height: 73vh;
  
}
.main-container {
    /* max-width: 1024px; */
    max-width: 90%; 
}
}
@media (max-width:1024px) {
    .column-right { 
 margin-top: 0px;
 width: 100%;
    

}
    .column-right img {
   text-align: center;
    height: auto; 


}
.block {
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
}
.column-left {
   height: 50vh;
    width: 100%;
    
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
}
.column-right img {
   
    border-top-right-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.main-container {
    /* max-width: 1024px; */
    max-width: 90%; 
}
}
@media (max-width:945px) {
    .column-left h1 { 
  font-size: 50px; 
}
    .column-left h3 { 
  font-size: 18px; 
}
}
@media (max-width:570px) {
    .column-left h1 { 
  font-size: 40px; 
}
    .column-left h3 { 
  font-size: 17px; 
}
.main-buttons button {
    padding: 8px 10px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 20px;
    font-size: 11px;}
}
@media (max-width:400px) {
    .column-left h1 { 
  font-size: 25px; 
}
    .column-left h3 { 
  font-size: 15px; 
}
}